.login-container {
  margin: 45px 0;
  padding: 0 80px;

  div {
    margin: 10px 0;
  }

  .forgot-password {
    text-align: end;
  }

  .login-button {
    button {
      width: 100%;
      border: none;
    }
  }

  .error-message {
    color: red;
  }

  .has-error {
    border-color: red;
    &:focus {
      color: red;
    }
  }

  .password {
    fa-icon {
      cursor: pointer;
    }
  }

  .ant-form-item {
    margin-bottom: 0;
  }

  .login-error {
    text-align: center;
    color: red;
  }
}
