<div class="header-container">
  <div class="content-wrapper">
    <div class="icon">
      <nz-avatar [nzSize]="64" nzText="{{getIconString()}}" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
    </div>
    <div class="info">
      <div>
        <h3 class="ant-typography">{{currentUser.displayName}}</h3>
      </div>
      <div>
        <h4 class="ant-typography value custom">{{currentUser.email}}</h4>
        <div class="tag" nz-tooltip nzTooltipTitle="Вам доступна вся функциональность сервиса" *ngIf="currentUser.emailVerified">
          <nz-tag [nzColor]="'green'">активен</nz-tag>
        </div>
        <div class="tag" nz-tooltip nzTooltipTitle="Для доступа к полной функциональности сервиса необходимо подтвердить свой электронный адрес" *ngIf="!currentUser.emailVerified">
          <nz-tag [nzColor]="'red'">не активен</nz-tag>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body-container">
  <div class="menu">
    <ul nz-menu nzMode="inline">
      <li [nzSelected]="menuSelectedItem === 'reservations'" nz-menu-item [routerLink]="['reservations']">Мои бронирования</li>
      <li  [nzSelected]="menuSelectedItem === 'favorites'" nz-menu-item [routerLink]="['favorites']">Сохраненные заведения</li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>

