.header-container {
  height: 100px;
  border-bottom: 1px solid #e7e7ed;
  display: flex;
  padding: 0 80px;
  .content-wrapper {
    display: flex;
    align-items: center;
    .info{
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .tag {
        width: 75px;
      }
      h3.ant-typography {
        margin-bottom: 0;
      }
      .custom {
        margin-top: 0;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }


}

.body-container {
  background: #f7f7f7;
  min-height: 500px;
  position: relative;
  padding: 20px;

  .menu {
    width: 250px;
    background: #FFF;
    border-radius: 5px;
    position: absolute;
    padding: 5px 0;
    left: 80px;
    top: 20px
  }
}
