.item {
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  padding: 15px;
  background-color: #FFFFFF;
  width: 750px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;

  ::ng-deep {
    .res-row {
      padding: 0;
      border-bottom: none;
      display: -webkit-box;
    }
  }
}
