.container {
  margin: 45px 0;
  padding: 0 80px;

  .field {
    margin: 10px 0;
  }

  .register-error {
    text-align: center;
    color: red;
  }

  .has-error {
    border-color: red;
    &:focus {
      color: red;
    }
  }

  .error-message {
    color: red;
  }

  .register-button {
    button {
      width: 100%;
      border: none;
    }
  }
}
