<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapReady)="mapReady()" (boundsChange)="onBoundsChange($event)">
    <agm-marker *ngFor="let m of restaurants; let i = index" [latitude]="m.location.latitude" [longitude]="m.location.longitude"
        (mouseOver)="mouseOveredMarker(infowindow)">
        <agm-info-window #infowindow>
            <app-list-item [restaurant]="m" [mapMod]="true"></app-list-item>
        </agm-info-window>
    </agm-marker>
</agm-map>
