<div class="page-container">
  <div class="page-content">
    <div class="logo">
      <a routerLink="">
        <img style="width: 164px; height: 60px" src="../assets/logo.png">
      </a>
    </div>

    <router-outlet></router-outlet>
    <div class="social-networks-login-container">
      <div class="answer">
        Не желаете заполнять форму?
      </div>
      <div class="google">
        <button nz-button nzType="default" [nzSize]="'large'" (click)="signInWithGoogle()">
          <span><img src="../../../assets/icons/icons8-google.svg">Продолжить с Google</span>
        </button>
      </div>
      <div class="facebook">
        <button nz-button nzType="default" [nzSize]="'large'" (click)=signInWithFacebook()>
          <span><img src="../../../assets/icons/icons8-facebook.svg">Продолжить с Facebook</span>
        </button>
      </div>
      <!-- <div class="twitter">
        <button nz-button nzType="default" [nzSize]="'large'"><img src="../../../assets/icons/icons8-twitter.svg">Продолжить с Twitter</button>
      </div> -->
      <div class="create-account">
        Впервые на OpenTable?<a routerLink="registration">Создать аккаунт</a>
      </div>
    </div>
  </div>
</div>
