.page-header {
  height: 60px;
  background-image: url(//media.otstatic.com/search-result-node/images/patterns/woodgrain-dark.7b6a1e98.png);

  display: flex;
  align-items: center;
  justify-content: center;

  .content-block-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .control {
      margin: 0 5px;
    }
    .ant-time-picker {
      width: 150px;
    }
    .search-button {
      ::ng-deep button fa-icon {
        margin-left: 5px;
      }
    }
  }
}

.filter-container {
  height: 50px;
  border-bottom: 1px solid #e7e7ed;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  button {
    border: none;
    margin: 3px;
    color: rgba(0, 0, 0, 0.65);

    &:hover {
      color: #40a9ff;
    }
  }

  .filter-label {
    margin: 0 5px;
  }
}

.content {
  display: flex;
  justify-content: center;

  .left-column {
    width: 15rem;
    display: flex;

    flex-direction: column;
    margin-right: 15px;

    .parameter-label {
      fa-icon {
        margin-right: 5px;
      }
    }

    .bottom-border {
      border-bottom: 1px solid #e7e7ed;
    }

    .map-option {
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 16px 0;
      border: 1px solid #61bddb;
      border-radius: 3px;
      background: url(//media.otstatic.com/search-result-node/images/mapImage@2x.e764d473.png)
        #eef8fb;
      background-size: 192px 64px;
      cursor: pointer;
    }
  }

  .map-button {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
  }

  .right-column {
    width: 50%;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      border-bottom: 1px solid #e7e7ed;
    }

    .map-view {
      max-height: 600px;
      min-height: 600px;
      overflow-y: auto;

      ::ng-deep .res-row:hover {
        border-radius: 6px;
        border: solid 1px #d8d9db;
      }
    }
  }

  .side-padding {
    padding: 0 10px;
  }

  .map {
    width: 60%;
    position: relative;
    .hide-map {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}
