<div class="page-header">
  <div class="content-block-body">
    <div class="calendar control">
      <nz-date-picker [nzSize]="'large'"></nz-date-picker>
    </div>
    <div class="time control">
      <nz-time-picker [nzSize]="'large'" style="width: 180px;"></nz-time-picker>
    </div>
    <div class="number-of-people control">
      <nz-select
        [nzSize]="'large'"
        nzShowSearch
        nzAllowClear
        style="width: 230px;"
        nzPlaceHolder="Выберите кол-во гостей"
      >
        <nz-option nzLabel="1" nzValue="1"></nz-option>
        <nz-option nzLabel="2" nzValue="2"></nz-option>
        <nz-option nzLabel="3" nzValue="3"></nz-option>
      </nz-select>
    </div>
    <div class="search-button control">
      <button nz-button nzType="primary" [nzSize]="'large'">
        Искать<fa-icon [icon]="['fas', 'search']"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="filter-container" *ngIf="showMap">
  <button nz-button nzType="link" nz-popover nzPopoverTrigger="click" [nzPopoverContent]="categories" nzPopoverPlacement="bottom">
    <fa-icon [icon]="['fas', 'utensils']"></fa-icon><span class="filter-label">Категории</span><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
  </button>
  <ng-template #categories>
    <app-checkbox-group [parameters]="restaurantsTypes$ | async" [type]="'type'"></app-checkbox-group>
  </ng-template>

<!--  <button nz-button nzType="link" nz-popover nzPopoverTrigger="click" [nzPopoverContent]="features" nzPopoverPlacement="bottom">-->
<!--    <fa-icon [icon]="['fas', 'dice-five']"></fa-icon><span class="filter-label">Особенности</span><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>-->
<!--  </button>-->
<!--  <ng-template #features>-->
<!--    <app-checkbox-group></app-checkbox-group>-->
<!--  </ng-template>-->

  <button nz-button nzType="link" nz-popover nzPopoverTrigger="click" [nzPopoverContent]="price" nzPopoverPlacement="bottom">
    <fa-icon [icon]="['far', 'money-bill-alt']"></fa-icon><span class="filter-label">Средний чек</span><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
  </button>
  <ng-template #price>
    <app-checkbox-group [parameters]="priceCategoriesTypes$ | async" [type]="'priceCategory'"></app-checkbox-group>
  </ng-template>
</div>
<div class="content">
  <div class="left-column" *ngIf="!showMap">
    <div class="map-option">
      <button class="map-button" nz-button nzType="primary" [nzSize]="'normal'" (click)="onToggleMap()">
        <fa-icon [icon]="['far', 'map']"></fa-icon>Карта
      </button>
    </div>
    <nz-collapse>
      <nz-collapse-panel
        [nzHeader]="'Категории'"
        [nzActive]="true"
        [nzExtra]="extraTplType"
        [nzDisabled]="false"
      >
        <app-checkbox-group [parameters]="restaurantsTypes$ | async" [type]="'type'"></app-checkbox-group>
      </nz-collapse-panel>
      <nz-collapse-panel
        [nzHeader]="'Средний чек'"
        [nzActive]="true"
        [nzExtra]="extraTplPricing"
        [nzDisabled]="false"
      >
        <app-checkbox-group [parameters]="priceCategoriesTypes$ | async" [type]="'priceCategory'"></app-checkbox-group>
      </nz-collapse-panel>
    </nz-collapse>
    <ng-template #extraTplType>
      <div class="parameter-label">
        <fa-icon [icon]="['fas', 'utensils']"></fa-icon>
      </div>
    </ng-template>
    <ng-template #extraTplPricing>
      <div class="parameter-label">
        <fa-icon [icon]="['far', 'money-bill-alt']"></fa-icon>
      </div>
    </ng-template>

<!--    <div class="features">-->
<!--      <div class="parameter-label bottom-border">-->
<!--        <fa-icon [icon]="['fas', 'dice-five']"></fa-icon>Особенности-->
<!--      </div>-->
<!--      <app-checkbox-group></app-checkbox-group>-->
<!--    </div>-->

  </div>
  <div class="right-column" [ngClass]="{'side-padding': showMap}">
    <div class="header">
      <div>Найдено {{(restaurants$ | async).length}} заведений</div>
      <div>
        <nz-select
        [nzSize]="'large'"
        nzShowSearch
        nzAllowClear
        style="width: 230px;"
        nzPlaceHolder="Сортировать по"
      >
        <nz-option nzLabel="Сортировать по рейтингу" nzValue="1"></nz-option>
        <nz-option nzLabel="Сортировать по алфавиту" nzValue="2"></nz-option>
        <nz-option nzLabel="Сортировать по новизне" nzValue="3"></nz-option>
      </nz-select>
      </div>

    </div>
    <div [ngClass]="{'map-view': showMap}">
      <div *ngFor="let item of restaurants$ | async; let i = index">
        <app-list-item [restaurant]="item" (mouseover)='mouseover(i)'></app-list-item>
      </div>
    </div>
  </div>
  <div class="map" *ngIf="showMap">
    <app-map [restaurants]="restaurants$ | async"></app-map>
    <button class="map-button hide-map" nz-button nzType="primary" [nzSize]="'normal'" (click)="onToggleMap()">
      <fa-icon [icon]="['far', 'map']"></fa-icon>Скрыть
    </button>
  </div>
</div>
