.res-row {
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
  padding: 15px;
  background-color: #FFFFFF;
  width: 750px;
  margin: auto;
  margin-bottom: 15px;
  position: relative;

  .icon {
    fa-icon {
      font-size: 25px;
    }
    .approved {
      color: green;
    }
  }
  .menu {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .res-row-image {
    .res-image {
      border-radius: 4px;
      cursor: pointer;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }

  .res-row-info {
    padding-left: 2.5%;
    width: 100%;
    .rest-row-header-container {
      .res-name-link {
        color: #247f9e;
        font-size: 1rem;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .info {
      display: flex;
      margin-top: 5px;
      font-size: 1rem;
      .info-unit::after {
        margin-left: 8px;
        padding-right: 8px;
        content: "•";
        color: #d8d9db !important;
      }
    }
  }
}
