<div class="res-row">
  <div class="res-row-image">
    <a [routerLink]="['../../restaurants', reservation.restaurantInfo.restaurantId]">
      <img [src]="reservation.restaurantInfo.titleImgUrl" class="res-image">
    </a>
  </div>
  <div class="res-row-info">
    <div class="rest-row-header-container">
      <a class="res-name-link" [routerLink]="['../../restaurants', reservation.restaurantInfo.restaurantId]">
        <span>{{reservation.restaurantInfo.title}}</span>
      </a>
    </div>
    <div class="info">
      <div class="info-unit">
        <span>{{getDate(reservation.timeFrom) | date:'d MMM, y'}}</span>
      </div>
      <div class="info-unit">
        <span>{{getDate(reservation.timeFrom) | date:'shortTime'}}</span>
      </div>
      <div class="info-unit">
        <span>{{reservation.numberOfGuests}} чел.</span>
      </div>
      <div>Стол № {{reservation.tableNumber}}</div>
    </div>
  </div>
  <div class="icon">
    <fa-icon nz-tooltip nzTooltipTitle="Подтвержнено" class="approved" [icon]="['far', 'check-circle']" *ngIf="reservation.approved"></fa-icon>
    <fa-icon nz-tooltip nzTooltipTitle="Не подтверждено"  class="not-approved" [icon]="['far', 'check-circle']" *ngIf="!reservation.approved"></fa-icon>
  </div>
  <button class="menu" nz-button nzType="default">Предзаказ</button>
</div>
