.menu-container {
  min-height: 400px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  .restaurant-menu-nav {
    width: 250px;
    background: #FFF;
    border-radius: 5px;
    .title {
      display: block;
      border-bottom: 1px solid #e7e7ed;
      font-size: 19px;
      font-weight: normal;
      width: 100%;
      margin-top: 0;
      margin-bottom: 7px;
      float: left;

      span {
        background: url(https://static.menu.by/resources/default/css/images/menu-hot.png) no-repeat 10px center;
        display: block;
        padding: 10px 20px 10px 55px;
      }
    }

    .restaurant-menu-nav-inner {
      padding: 0 17px 7px 13px;
    }
  }
  .menu-types-container {
    .menu-type {
      margin-left: 25px;

      .ant-divider-horizontal.ant-divider-with-text-left {
        font-size: 20px;
        color: #40a9ff;
        margin-top: 0;
      }

      .ant-divider-horizontal.ant-divider-with-text-left {
        &::before, &::after {
          border-top: 1px solid #40a9ff;
        }
      }

    }

  }

}

.background-color {
  background-color: #f3f3f6;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
}
