<div class="menu-container" [ngClass]="{'background-color': !isBooking}">
  <nz-affix [nzOffsetTop]="10">
    <div class="restaurant-menu-nav" [ngClass]="{'is-booking': isBooking}">
      <h3 class="title menu-hot">
        <span>Меню</span>
      </h3>
      <div class="restaurant-menu-nav-inner">
        <nz-radio-group [(ngModel)]="radioValue">
          <div *ngFor="let o of menuOptions">
            <label nz-radio [nzValue]="o.value" >{{ o.label }}</label>
          </div>
        </nz-radio-group>
      </div>
    </div>
  </nz-affix>
  <div class="menu-types-container">
    <div *ngFor="let type of menuOptions.slice(1)">
      <div class="menu-type" *ngIf="type.value === radioValue || radioValue === 'all'">
        <nz-divider nzText="{{type.label}}" nzOrientation="left"></nz-divider>
        <app-menu-item *ngFor="let item of restaurantMenu[type.value]" [menuItem]="item" [isBooking]="isBooking" [type]="type.value"></app-menu-item>
      </div>
    </div>
  </div>
</div>
<nz-affix [nzOffsetBottom]="10" *ngIf="isBooking">
  <div class="buttons-container">
    <button
      (click)="cancel()"
      nz-button
      [nzSize]="'large'"
      nzType="default"
      nzDanger
      style="width: 150px;">
      Назад
    </button>
    <button
      (click)="finish()"
      nz-button
      [nzSize]="'large'"
      nzType="default"
      style="width: 150px;">
      Завершить
    </button>
  </div>
</nz-affix>

