.res-row {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e7e7ed;
  padding: 15px 5px;

  .res-row-image {
    .res-image {
      border-radius: 4px;
      cursor: pointer;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    .map-res-image {
      height: 60px;
      width: 60px;
    }
  }

  .icon {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }

  .res-row-info {
    padding-left: 2.5%;
    width: 100%;
    .rest-row-header-container {
      .res-name-link {
        color: #247f9e;
        font-size: 1rem;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    .star-container {
      display: flex;
      align-items: center;
      .star {
        margin: 0 2px;
      }
      .reviews {
        margin-top: 4px;
        a {
          color: rgba(0, 0, 0, 0.65);
          &:hover {
            color: #40a9ff;
            text-decoration: underline;
          }
        }
      }
    }

    .categories {
      display: flex;
      margin-top: 5px;
      font-size: 1rem;
      .price-category::after,
      .res-type::after {
        margin-left: 8px;
        padding-right: 8px;
        content: "•";
        color: #d8d9db !important;
      }
    }

    .map-categories {
      display: -webkit-box;
    }
  }
}

.map-res-row {
  padding: 0;
  align-items: center;
}
