<div class="res-row" [ngClass]="{'map-res-row': mapMod}">
  <div class="res-row-image">
    <a [routerLink]="[restaurant.uid]">
      <img [src]="restaurant.titleImageUrl" class="res-image" [ngClass]="{'map-res-image': mapMod}">
    </a>
  </div>
  <div class="res-row-info">
    <div class="rest-row-header-container">
      <a class="res-name-link" [routerLink]="[restaurant.uid]">
        <span>{{restaurant.name}}</span>
      </a>
    </div>
    <div class="star-container">
      <div class="star" *ngFor="let star of getStars()">
        <img [src]="getStarPath(star)">
      </div>
      <div class="reviews">
        <a>(18)</a>
      </div>
    </div>
    <div class="categories" [ngClass]="{'map-categories': mapMod}">
      <div class="price-category"><span class="full">{{getPriceString(restaurant.priceCategory)}}</span><span class="empty">{{getPriceString(4 - restaurant.priceCategory)}}</span></div>
      <div class="res-type">{{restaurant.type}}</div>
      <div>{{restaurant.contactInfo.address}}</div>
    </div>
  </div>
  <div class="icon" *ngIf="isProfile" (click)="deleteItem()">
    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
  </div>
</div>
