<app-review-item *ngFor="let review of reviews" [review]="review" [user]="user"></app-review-item>
<nz-comment style="width: 60%; margin: 0 auto" *ngIf="user && user.emailVerified">
  <nz-avatar nz-comment-avatar nzText="{{getIconString()}}"></nz-avatar>
  <nz-comment-content>
    <nz-form-item>
      <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
        Add Comment
      </button>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
