<div class="form-container">
  <form nz-form [formGroup]="bookingForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="date">Дата</nz-form-label>
      <nz-form-control nzErrorTip="Введите дату!">
        <nz-date-picker id="date" formControlName="date" style="width: 100%;"
                        nzPlaceHolder="Выберите дату"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="timeFrom">Начало</nz-form-label>
      <nz-form-control nzErrorTip="Введите время начала действия брони!">
        <nz-time-picker
          style="width: 100%"
          id="timeFrom"
          formControlName="timeFrom" nzFormat="HH:mm" [nzMinuteStep]="15" nzPlaceHolder="Выберите время"></nz-time-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="timeUntil">Конец</nz-form-label>
      <nz-form-control nzErrorTip="Введите время окончания действия брони!">
        <nz-time-picker
          style="width: 100%"
          id="timeUntil"
          formControlName="timeUntil" nzFormat="HH:mm" [nzMinuteStep]="15" nzPlaceHolder="Выберите время"></nz-time-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="numberOfGuests">Количество гостей</nz-form-label>
      <nz-form-control nzErrorTip="Введите количество гостей!">
        <nz-select
          id="numberOfGuests"
          formControlName="numberOfGuests"
          nzPlaceHolder="Выберите количество гостей"
        >
          <nz-option nzValue="1" nzLabel="1"></nz-option>
          <nz-option nzValue="2" nzLabel="2"></nz-option>
          <nz-option nzValue="3" nzLabel="3"></nz-option>
          <nz-option nzValue="4" nzLabel="4"></nz-option>
          <nz-option nzValue="5" nzLabel="5"></nz-option>
          <nz-option nzValue="6" nzLabel="6"></nz-option>
          <nz-option nzValue="7" nzLabel="7"></nz-option>
          <nz-option nzValue="8" nzLabel="8"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button style="width: 100%" nz-button nzType="primary">Искать</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

