.menu-item {
  background-color: white;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  padding: 15px;

  .item-image {
    border-radius: 4px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .item-row-info {
    padding-left: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .rest-row-header-container {
      .item-title {
        color: #40a9ff;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .item-info-footer {
      border-top: 1px solid #e7e7ed;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-top: 5px;
      .price {
        margin-right: 5px;
        color: #40a9ff;
        font-size: 1.5rem;
        font-weight: 600;
      }

      .select-count {
        display: flex;
        align-items: center;
        div {
          margin: 0 5px;
          font-size: 1rem;
        }
      }
    }

    .description {
      display: flex;
      margin-top: 5px;
      font-size: 1rem;
      color: #909090;
    }

  }
}

