<div class="menu-item" [ngClass]="{'is-booking': isBooking}">
  <div class="item-row-image">
      <img [src]="menuItem.imageUrl" class="item-image">
  </div>
  <div class="item-row-info">
    <div class="item-info-header">
      <div class="rest-row-header-container">
        <div class="item-title">
          <span>{{menuItem.title}}</span>
        </div>
      </div>
      <div class="description">{{menuItem.description}}</div>
    </div>
    <div class="item-info-footer">
      <div class="price">{{menuItem.price}} BYN</div>
      <div class="select-count" *ngIf="isBooking">
        <button nz-button nzType="primary" nzShape="circle" (click)="decreaseCount()"><fa-icon [icon]="['fas', 'minus']"></fa-icon></button>
        <div>{{menuItem.count}}</div>
        <button nz-button nzType="primary" nzShape="circle" (click)="increaseCount()"><fa-icon [icon]="['fas', 'plus']"></fa-icon></button>
      </div>
    </div>
  </div>
</div>
