<div class="submit-container">
  <div class="order-preview">
    <div class="booking-icon">
      <img src="../../../assets/icons/booking.svg">
    </div>
    <h4 class="ant-typography">Количество гостей</h4>
    <h5 class="ant-typography value">{{reservationRecord.numberOfGuests}}</h5>
    <h4 class="ant-typography">Выбранная дата</h4>
    <h5 class="ant-typography value">{{getDate(reservationRecord.timeFrom) | date:'MMM d, y'}}</h5>
    <h4 class="ant-typography">Выбранное время</h4>
    <h5 class="ant-typography value">{{getDate(reservationRecord.timeFrom) | date:'shortTime'}}</h5>
    <h4 class="ant-typography">Выбранный стол</h4>
    <h5 class="ant-typography value">Стол № {{reservationRecord.tableNumber}}</h5>
  </div>
  <div class="buttons-container">
    <button
      (click)="goBack()"
      nz-popover
      nzPopoverContent="Вернуться к выбору параметров заказа"
      nz-button
      [nzSize]="'large'"
      nzType="default"
      nzDanger
      style="width: 150px;">
      Назад
    </button>
    <button
      nz-popover
      nzPopoverContent="Сделать предвартельный заказ из меню заведения"
      nz-button
      [nzSize]="'large'"
      nzType="primary"
      (click)="showMenu()"
    >
      Меню
    </button>
    <button
      nz-popover
      nzPopoverContent="Подтвердить текущее бронирование"
      nz-button
      [nzSize]="'large'"
      nzType="default"
      style="width: 150px;"
      (click)="submitBooking()">
      Завершить
    </button>
  </div>
</div>
