.order-preview{
  width: 250px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  border-radius: 1rem;
  padding-top: 15px;
  text-align: center;

  .value {
    font-size: 15px;
  }
  .ant-typography {
    margin-top: 0;
  }

  .booking-icon {
    width: 55px;
    height: 55px;
    top: -31px;
    left: calc(50% - 27px);
    position: absolute;
    background: #ffffff;
    border: 10px solid #fff;
  }
}

.buttons-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
}
