#header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);

  #logo, #sing-in-up-container {
      display: flex;
      align-items: center;
  }

  #logo {
    width: 150px;
  }

  .menu {
    a {
      color: rgba(0, 0, 0, 0.65);
      margin: 0 5px;
    }
    a:hover {
      color: #40a9ff;
    }
  }

  .user-menu {
    border-left: 1px solid #e7e7ed;;
    color: rgba(0, 0, 0, 0.65);
    padding: 0 15px;
    font-size: 18px;
    fa-icon {
      margin-left: 5px;
    }
    &:hover {
      color: #40a9ff;
    }
  }

  #sing-in-up-container button, #logo {
    margin: 10px;
  }
}

#footer {
  background-color: #333;
  height: 180px;
}

.spin-container {
  width: 100%;
  height: 100%;
  position: relative;

  nz-spin {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
