<div class="app-container" *ngIf="!(isLoadingUser$ | async)">
  <div id="header" *ngIf="showHeaderFooter$ | async">
    <div id="logo" routerLink="/">
      <a>
        <img style="width: 164px; height: 60px" src="../assets/logo.png">
      </a>
    </div>
    <div id="sing-in-up-container">
      <div class="menu">
        <a routerLink="/restaurants">
          <fa-icon [icon]="['fas', 'list']"></fa-icon>Каталог заведений
        </a>
        <a>
          <fa-icon [icon]="['far', 'newspaper']"></fa-icon>Новости
        </a>
      </div>

      <button nz-button nzType="default" class="simple-button" (click)="navigateToLoginPage()"
        *ngIf="!(isAuthenticated$ | async)">Войти</button>
      <button class="user-menu" overlayClassName="custom-popover" nz-button nzType="link" nz-popover [(nzVisible)]="showPopup"
        nzPopoverTrigger="click" [nzPopoverContent]="userMenu" nzPopoverPlacement="bottomRight"
        *ngIf="isAuthenticated$ | async">
        <span class="filter-label">Привет, {{displayName$ | async}}!</span>
        <fa-icon [icon]="['fas', 'chevron-down']"></fa-icon>
      </button>
      <ng-template #userMenu>
        <div class="menu-container" (click)="hidePopup()">
          <div class="item" [routerLink]="['profile']">Мой профиль</div>
          <div class="item">Мои заказы</div>
          <div class="item">Сохраненные заведения</div>
          <div class="item" (click)="logout()">Выйти</div>
        </div>
      </ng-template>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div id="footer" *ngIf="(showHeaderFooter$ | async) && !(isBookingPage$ | async)"></div>
</div>
<div class="spin-container" *ngIf="(isLoadingUser$ | async) || (isLoadingRestaurants$ | async)">
  <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
</div>
