.main-page {
  position: relative;
  background: #fff;
  color: #666;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 1.2rem;

  .page-img {
    height: 600px;
    background-image: url(https://resizer.otstatic.com/v2/photos/wide-huge/25161502.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    opacity: 1;

    .content-block {
      position: relative;
      box-shadow: 0 1px 6px 2px rgba(45, 51, 63, 0.1);
      z-index: 1;
      align-items: center;
      background-color: rgba(47, 45, 65, 0.7);
      border: none;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      margin: 0;
      width: 100%;

      .dtp-title {
        margin: 0;

        .content-block-header {
          position: relative;
          margin: 0;
          h1 {
            color: white;
            line-height: 1.5;
            margin: 0 0 24px;
            text-align: center;
            font-size: 3rem;
            font-weight: 700;
          }
        }
        .content-block-body {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          .ant-time-picker {
            width: 150px;
          }
          .search-button {
            button {
              background-color: #40a9ff;
              border: none;
            }
            ::ng-deep button fa-icon {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}
