<div class="review-container">
  <nz-comment nzAuthor="{{review.displayName}}" [nzDatetime]="getDate() | date: 'M/d/yy, HH:mm' ">
    <nz-avatar nz-comment-avatar nzText="{{getIconString()}}"></nz-avatar>
    <nz-comment-content>
      <p>{{review.content}}</p>
    </nz-comment-content>
    <nz-comment-action>
      <i nz-tooltip nz-icon nzType="like" [nzTheme]="isLike() ? 'twotone' : 'outline'" (click)="like()"></i>
      <span class="count like">{{ review.likes.length }}</span>
    </nz-comment-action>
    <nz-comment-action>
      <i nz-tooltip nz-icon nzType="dislike" [nzTheme]="isDislike() ? 'twotone' : 'outline'" (click)="dislike()"></i>
      <span class="count dislike">{{ review.dislikes.length }}</span>
    </nz-comment-action>
  </nz-comment>
</div>


