<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    .order-preview{
      width: 250px;
      height: 320px;
      border: 1px solid grey;
      border-radius: 1rem;
      text-align: center;
      margin: auto;
    }

    .value {
      font-size: 15px;
    }
    .ant-typography {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    img {
      width: 50px;
      height: 50px;
      background: #ffffff;
      border: 10px solid #fff;
    }
  </style>
</head>
<body>
<div style="text-align: center">
  <h2>Ваш заказ успешно одобрен!</h2>
</div>
<div class="order-preview">
  <img src="cid:booking">
  <h4 class="ant-typography">Количество гостей</h4>
  <p class="ant-typography value">{{numberOfGuests}}</p>
  <h4 class="ant-typography">Выбранная дата</h4>
  <p class="ant-typography value">{{date}}</p>
  <h4 class="ant-typography">Выбранное время</h4>
  <p class="ant-typography value">{{time}}</p>
  <h4 class="ant-typography">Выбранный стол</h4>
  <p class="ant-typography value">Стол № {{tableNumber}}</p>
</div>

</body>
</html>
