.page-container {
  .title-image {
    position: relative;

    .image {
      background-size: cover;
      background-position: center;
      height: 300px;
    }

    ::ng-deep button fa-icon {
      margin-right: 5px;
    }

    .save-restaurant {
      position: absolute;
      top: 20px;
      right: 20px;
      border: 2px solid white;

      &:hover {
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
  .content {
    .header-container {
      .top-container {
        min-height: 100px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e7e7ed;
        display: grid;
        grid-template-columns: 180px auto;

        .logo-container {
          position: relative;
          .logo {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            position: absolute;
            top: -60px;
            left: 15px;
            img {
              height: 130px;
              width: 130px;
              border-radius: 50%;
            }
          }
        }

        .right-part {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .title-subtitle {
            .title {
              font-size: 20px;
              font-weight: bold;
              margin-bottom: 5px;
            }
          }

          .share-button-container {
            margin-right: 10px;
            ::ng-deep button fa-icon {
              margin-right: 5px;
            }
          }
        }
      }

      .bottom-container {
        height: 70px;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
        }

        li {
          float: left;
        }

        li {
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          margin: 5px 10px;

          a {
            color: rgba(0, 0, 0, 0.65);

            &:hover {
              color: #40a9ff;
            }
          }

          a.active {
            color: #40a9ff;
            font-size: 18px;
          }
        }


      }
    }
  }
}
