<div class="page-container" *ngIf="currentRestaurantProfile">
  <div class="title-image">
    <div class="image" [ngStyle]="{'background-image': getTitleImage(currentRestaurantProfile?.titleImageUrl)}">

    </div>
    <button nz-button [nzSize]="'large'" class="save-restaurant" nzType="default" *ngIf="isAuthenticated && !isFavoriteRestaurant" (click)="onFavoriteAdd()">
      <fa-icon [icon]="['far', 'heart']"></fa-icon>
      Добавить в избранное
    </button>
    <button nz-button [nzSize]="'large'" class="save-restaurant" nzType="default" *ngIf="isAuthenticated && isFavoriteRestaurant">
      <fa-icon [icon]="['fas', 'heart']" style="color: #40a9ff"></fa-icon>
      В избранном
    </button>
  </div>
  <div class="content">
    <div class="header-container">
      <div class="top-container">
        <div class="logo-container">
          <div class="logo">
            <img [src]="currentRestaurantProfile?.logoImageUrl">
          </div>
        </div>
        <div class="right-part">
          <div class="title-subtitle">
            <div class="title">{{currentRestaurantProfile?.name}}</div>
          </div>
          <div class="share-button-container">
            <button nz-button [nzSize]="'large'" class="simple-button" nzType="default">
              <fa-icon [icon]="['fas', 'share']"></fa-icon>Поделиться
            </button>
          </div>
        </div>
      </div>
      <div class="bottom-container">
        <div class="menu-container">
          <ul>
            <li>
              <a [routerLink]="['main']"  routerLinkActive="active">
                <fa-icon [icon]="['fas', 'home']"></fa-icon>
                Главная
              </a>
            </li>
            <li>
              <a [routerLink]="['gallery']"  routerLinkActive="active">
                <fa-icon [icon]="['far', 'images']"></fa-icon>
                Галерея
              </a>
            </li>
            <li>
              <a [routerLink]="['menu']"  routerLinkActive="active">
                <fa-icon [icon]="['fas', 'book-open']"></fa-icon>
                Меню
              </a>
            </li>
            <li>
              <a [routerLink]="['news']"  routerLinkActive="active">
                <fa-icon [icon]="['far', 'newspaper']"></fa-icon>
                Новости
              </a>
            </li>
            <li>
              <a [routerLink]="['reviews']"  routerLinkActive="active">
                <fa-icon [icon]="['far', 'comment-dots']"></fa-icon>
                Отзывы
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
