<app-restaurant-profile [currentRestaurantProfile]="currentRestaurantProfile$ | async"
                        [isAuthenticated]="isAuthenticated$ | async"
                        [isFavoriteRestaurant]="isFavoriteRestaurant$ | async"
></app-restaurant-profile>
<button nz-button [nzSize]="'large'" [nzType]="'primary'" class="start-booking" (click)="startBooking()">
  <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
  Начать бронирование
</button>
