<div class="legend">
  <div class="l-state">
    <div class="l-state-item l-state-item-available">свободен</div>
    <div class="l-state-item l-state-item-disabled">недоступен</div>
  </div>
</div>

<button class="show-parameters" nz-button nzType="default" (click)="showParameters()">Выбрать время и дату</button>

<div [ngClass]="{background: showBookingParameters}" #svgObject id="svgObject" (click)="hideParameters()">

</div>
<div class="sidebar" [ngClass]="{'hidden-sidebar': !showBookingParameters}">
  <app-booking-parameters-container></app-booking-parameters-container>
</div>





