#svgObject {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

.background:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  z-index: 2;
}

.show-parameters {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}

.legend {
  position: fixed;
  z-index: 1;
  box-sizing: border-box;
  padding: 11px 12px 12px;
  left: 20px;
  bottom: 20px;
  border: 2px solid #d8d8d8;
  background-color: #fff;
  backface-visibility: hidden;

  .l-state-item {
    padding-left: 28px;
    font-size: 18px;
    color: #666;
    position: relative;
    min-height: 18px;
  }

  .l-state-item-available:after {
    background-color: #3ec556;
  }

  .l-state-item-disabled:after {
    background-color: #bcbcbc;
  }

  .l-state-item:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%;
  }
}

.hidden-sidebar {
  display: none;
}

.sidebar {
  height: calc(100vh - 60px);
  position: absolute;
  width: 25%;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: #ffffff;

}
