.container {
  width: 750px;
  margin: auto;
  .ant-divider-horizontal.ant-divider-with-text-left {
    font-size: 20px;
    color: #40a9ff;
    margin-top: 0;
  }

  .ant-divider-horizontal.ant-divider-with-text-left {
    &::before, &::after {
      border-top: 1px solid #40a9ff;
    }
  }
}


