<div class="container">
  <nz-divider nzText="Будущие брони" nzOrientation="left"></nz-divider>
  <div *ngFor="let item of getReservations(true)">
    <app-reservation-record [reservation]="item"></app-reservation-record>
  </div>
  <nz-divider nzText="Прошедшие брони" nzOrientation="left"></nz-divider>
  <div *ngFor="let item of getReservations(false)">
    <app-reservation-record [reservation]="item"></app-reservation-record>
  </div>
</div>

