/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import basic styles */
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/date-picker/style/index.min.css";
@import "~ng-zorro-antd/time-picker/style/index.min.css";
@import "~ng-zorro-antd/input-number/style/index.min.css";
@import "~ng-zorro-antd/select/style/index.min.css";
@import "~ng-zorro-antd/menu/style/index.min.css";
@import "~ng-zorro-antd/progress/style/index.min.css";
@import "~ng-zorro-antd/input/style/index.min.css";
@import "~ng-zorro-antd/checkbox/style/index.min.css";
@import "~ng-zorro-antd/popover/style/index.min.css";
@import "~ng-zorro-antd/spin/style/index.min.css";

svg#schema {
  height: calc(100vh - 60px);
  width: 100vw;
}

.ant-popover-inner-content {
  //padding: 0 !important;
  .menu-container {
    .item {
      padding: 10px;
      font-size: 18px;
      &:hover {
        background: rgba(0, 0, 0, 0.03);
        cursor: pointer;
      }
    }
  }
}

.is-booking {
  border: 1px solid #e7e7ed;
  border-radius: 5px;
}

.price-category {
  .full {
    color: rgba(0, 0, 0, 0.65);
  }
  .empty {
    color: #c3c3c7;
  }
}
