<div class="body-container">
  <div class="left-column">
    <div class="block description">
      <div class="title">
        <fa-icon [icon]="['far', 'list-alt']"></fa-icon>
        Описание
      </div>
      <div class="body">
        {{currentRestaurantProfile?.description}}
      </div>
    </div>

    <div class="block features">
      <div class="title">
        <fa-icon [icon]="['fas', 'tags']"></fa-icon>
        Особенности
      </div>
      <div class="body">
        <div class="item">
          <fa-icon [icon]="['far', 'credit-card']"></fa-icon>
          Оплата картой
        </div>
        <div class="item">
          <fa-icon [icon]="['fas', 'parking']"></fa-icon>
          Парковка
        </div>
        <div class="item">
          <fa-icon [icon]="['fas', 'music']"></fa-icon>
          Музыка
        </div>
        <div class="item">
          <fa-icon [icon]="['fas', 'business-time']"></fa-icon>
          Бизнес ланчи
        </div>
      </div>
    </div>

    <div class="block photos">
      <div class="title">
        <fa-icon [icon]="['far', 'images']"></fa-icon>
        Фото
      </div>
      <div class="body">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </div>
      <div class="footer">
        <a [routerLink]="['../', 'gallery']">Смотреть ещё</a>
      </div>
    </div>

    <div class="block rating">
      <div class="title">
        <fa-icon [icon]="['far', 'star']"></fa-icon>
        Рейтинг
      </div>
      <div class="body">
        <div class="left-part">
          <div class="stars-container">
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
            <fa-icon [icon]="['far', 'star']"></fa-icon>
            <b>4.0</b> На основании последних рейтингов
          </div>
          <div class="marks-container">
            <div class="food">
              <b>4.8</b>
              <br>
              Еда
            </div>
            <div class="service">
              <b>4.6</b>
              <br>
              Обслуживание
            </div>
            <div class="ambience">
              <b>4.4</b>
              <br>
              Атмосфера
            </div>
            <div class="value">
              <b>4.5</b>
              <br>
              Стоимость
            </div>
          </div>
          <div class="recommendations-container">
            <fa-icon [icon]="['far', 'thumbs-up']"></fa-icon>
            <b>94% людей</b> будут рекомендовать заведение друзьям
          </div>
        </div>
        <div class="right-part">
          <div class="item">
            <div>5</div>
            <nz-progress [nzPercent]="60" [nzShowInfo]="false"></nz-progress>
          </div>
          <div class="item">
            <div>4</div>
            <nz-progress [nzPercent]="40" [nzShowInfo]="false"></nz-progress>
          </div>
          <div class="item">
            <div>3</div>
            <nz-progress [nzPercent]="00" [nzShowInfo]="false"></nz-progress>
          </div>
          <div class="item">
            <div>2</div>
            <nz-progress [nzPercent]="0" [nzShowInfo]="false"></nz-progress>
          </div>
          <div class="item">
            <div>1</div>
            <nz-progress [nzPercent]="0" [nzShowInfo]="false"></nz-progress>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-column">
    <div class="block working-hours">
      <div class="title">
        <fa-icon [icon]="['far', 'clock']"></fa-icon>
        Время работы
      </div>
      <div class="body">
        <div class="day">
          <div>Понедельник</div>
          <div>10:00-23:00</div>
        </div>
        <div class="day">
          <div>Вторник</div>
          <div>10:00-23:00</div>
        </div>
        <div class="day">
          <div>Среда</div>
          <div>10:00-23:00</div>
        </div>
        <div class="day">
          <div>Четверг</div>
          <div>10:00-23:00</div>
        </div>
        <div class="day">
          <div>Пятница</div>
          <div>10:00-23:00</div>
        </div>
        <div class="day">
          <div>Суббота</div>
          <div>10:00-23:00</div>
        </div>
        <div class="day">
          <div>Воскресенье</div>
          <div>10:00-23:00</div>
        </div>
      </div>
    </div>
    <div class="block average-check">
      <div class="title">
        <fa-icon [icon]="['fas', 'coins']"></fa-icon>
        Средний чек на человека
      </div>
      <div class="body">
        <div>
          15
          <fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon>
          - 20
          <fa-icon [icon]="['fas', 'dollar-sign']">
          </fa-icon>
        </div>
      </div>
    </div>
    <div class="block information">
      <div class="title">
        <fa-icon [icon]="['fas', 'info']"></fa-icon>
        Информация
      </div>
      <div class="body">
        <div>
          <fa-icon [icon]="['fas', 'phone-alt']"></fa-icon>
          {{currentRestaurantProfile?.contactInfo.telephoneNumber}}
        </div>
        <div>
          <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
          {{currentRestaurantProfile?.contactInfo.city}},
          {{currentRestaurantProfile?.contactInfo.address}}
        </div>
      </div>
    </div>
    <div class="block statistics">
      <div class="title">
        <fa-icon [icon]="['far', 'chart-bar']"></fa-icon>
        Статискика
      </div>
      <div class="body">
        <div>
          <fa-icon [icon]="['far', 'eye']"></fa-icon>
          707 Просмотров
        </div>
        <div>
          <fa-icon [icon]="['far', 'heart']"></fa-icon>
          15 В избранном
        </div>
        <div>
          <fa-icon [icon]="['far', 'share-square']"></fa-icon>
          55 Бронирований
        </div>
      </div>
    </div>
    <div class="block map">
      <div class="title">
        <fa-icon [icon]="['fas', 'map-marked-alt']"></fa-icon>
        Расположение
      </div>
      <div class="body">
        <agm-map [latitude]="currentRestaurantProfile?.location.latitude"
                 [longitude]="currentRestaurantProfile?.location.longitude" [zoom]="zoom">
          <agm-marker [latitude]="currentRestaurantProfile?.location.latitude"
                      [longitude]="currentRestaurantProfile?.location.longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
