.body-container {
  height: auto;
  background-color: #f3f3f6;
  display: flex;
  flex-wrap: wrap;

  .block {
    background-color: white;
    margin-bottom: 15px;

    .title,
    .body {
      padding: 8px 10px;
    }

    .title {
      border-bottom: 1px solid #e7e7ed;
    }
  }

  .left-column {
    padding: 15px;
    flex-basis: 60%;

    .features .body {
      display: flex;
      flex-wrap: wrap;
      height: auto;

      .item {
        width: 30%;
        margin: 5px;

        fa-icon {
          margin-right: 5px;
        }
      }
    }

    .photos {
      .body {
        height: 250px;
        padding: 15px;
      }

      .footer {
        border-top: 1px solid #e7e7ed;
        padding: 15px 0;
        text-align: center;

        a {
          color: rgba(0, 0, 0, 0.65);

          &:hover {
            color: #40a9ff;
          }
        }
      }
    }

    .rating {
      .body {
        display: flex;
        flex-wrap: wrap;

        .left-part {
          padding: 10px;

          .marks-container {
            display: flex;
            text-align: center;

            div {
              padding: 5px;
            }

            .food,
            .service,
            .ambience {
              border-right: 1px solid #e7e7ed;
            }
          }

          & > div {
            margin: 15px 0;
          }

          .stars-container fa-icon {
            color: #40a9ff;
          }
        }

        .right-part {
          padding: 10px;
          width: 50%;

          .item {
            display: grid;
            grid-template-columns: 15px auto;
            margin: 10px 0;

            ::ng-deep .ant-progress-bg {
              background-color: #40a9ff;
            }
          }
        }
      }
    }
  }

  .right-column {
    padding: 15px;
    flex-basis: 40%;

    .working-hours {
      .title {
        background-color: #40a9ff;
        color: white;
      }

      .body {
        .day {
          display: flex;
          justify-content: space-between;
          padding: 5px 7px;
        }
      }
    }

    .average-check {
      .body {
        font-size: 24px;
        display: flex;
        align-items: center;
        padding: 25px;
      }
    }

    .information {
      .body {
        display: flex;
        flex-direction: column;
        font-size: 18px;

        div {
          padding: 15px;

          fa-icon {
            margin-right: 5px;
          }
        }
      }
    }

    .statistics {
      .body {
        display: flex;
        justify-content: space-evenly;
        font-size: 16px;

        div {
          padding: 10px;
        }
      }
    }

    .map {
      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 260px;

        agm-map {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
